/* .text{
    color: rgba(200, 18, 18, 0.712);
} */
.minibox li:nth-child(3),span{
    color: rgba(200, 18, 18, 0.712);

}
#box{
    border: 3px dashed black;
    padding: 20px;
    margin:50px 100px;
    background-image: url(https://img.freepik.com/premium-vector/abstract-grey-white-waves-lines-pattern-your-ideas-template-background-texture-vector-illustration_175838-3295.jpg?w=2000);
}
#box .minibox{
    border: 2px double rgb(76, 76, 254);
    padding: 20px;
    margin:20px 30px;
    background-color: rgb(68, 142, 247);
}

h3{
    text-align: center;
    font-weight: 100;
    line-height: 18.72px;
}